<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XTMWebServiceSoapBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="XTMWebServiceSoapBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.xtm-cloud.com/project-manager-gui/services/v2/projectmanager/xop/XTMWebService" binding="basicHttpBinding" bindingConfiguration="XTMWebServiceSoapBinding" contract="XtmWebService.ProjectManagerMTOMWebService" name="XTMProjectManagerMTOMWebServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
